.text-center {
  text-align: center; }

.style-1 .otp-input-8-field {
  border-radius: 4px;
  border: 1px solid #0082ca !important; }
  .style-1 .otp-input-8-field:not(:last-child) {
    margin-right: 0.5rem; }
