<div class="navbar btn-menu">

        <div class="col-md-4 center" style="flex: none;">
            <!-- <a href="#home"><i class="fas fa-home"></i></a> -->
            <a href="/home"><i class="fas fa-home"></i><br>
                หน้าหลัก
            </a>
        </div>
        <div class="col-md-4 center" style="flex: none;">
            <a href="/registerpage/coupon_form"><i class="fas fa-list"></i><br>
                ซื้อคูปอง
            </a>
        </div>
        <div class="col-md-4 center" style="flex: none;">
            <a data-toggle="modal" data-target="#GSCCModal"><i class="fas fa-qrcode"></i><br>
            สะสมแต้ม
        </a>
        </div>
</div>